@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kdg_Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
}

.about_img_text::after,
.about_img_text .about_text_fl_a::after,
.portfolio_ul li::after,
.website_box .website_ul::after,
.marketing_fl_a .marketing_box::after,
#contact .footer .row::after,
.portfolio_box .portfolio_ul li .por_we_in::after,
.website_box .website_ul li p::after,
.fi_box_01_e::after{
    content: "";
    display: block;
    clear: both;
}

#portfolio,
#other,
#contact{
    background-color: #d6e6fb;
}

#other .content-row .col-lg-12{
    margin-left: -219px;
}

#qna .qna_q .qna_q_text p{
    text-align: center;
}
#qna .qna_q .qna_q_text p:first-child{
    font-size: 23px;
}

header .brand-name .main_textbox{
    font-size: 50px;
    line-height: 50px;
    width: 32%;
    height: 250px;
    margin: 0 auto;
    padding-top: 52px;
    background-color: #6094d9;
    color: #fff;
}
header .brand-name .main_text_name{
    font-family: 'GowunBatang-Regular';
    color: #6094d9;
    font-size: 28px;
    margin-top: 30px;
}
header .brand-name .main_text_name .main_text_name_bold{
    display: inline-block;
}
header .brand-name .main_text_name .main_text_name_bg{
    display: inline-block;
    background-color: #bbd8ff;
    padding: 0 5px;
    box-sizing: border-box;
}

header .brand-name .main_textbox,
header .brand-name .main_text_name .main_text_name_bold{
    font-family: 'GowunBatang-Bold';
}

#fi_box{
    font-family: 'NanumSquareRound';
}
#fi_box .fi_box_01_e{
    background-color: #6094d9;
    border-radius: 22px 0 0 22px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 366px;
    right: -137px;
    z-index: 10000;
}
#fi_box .fi_box_01_e.fix{
    right: 0 !important;
}
#fi_box .fi_box_02_qr > span{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-indent: 10px;
}

#fi_box .fi_box_01_e > span{
    color: #fff;
    text-indent: 10px;
    font-size: 24px;
    font-weight: bold;
    display: block;
    float: left;
}
#fi_box .fi_box_01_e .fi_box_01_e_div{
    float: left;
    margin-left: 10px;
}
#fi_box .fi_box_01_e .fi_box_01_e_div > a{
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 1.8;
}

#fi_box .fi_box_02_qr{
    background-color: #fff;
    border: solid 3px #6094d9;
    border-radius: 40px 0 0 40px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    bottom: 200px;
    right: -135px;
    z-index: 10000;
}
#fi_box .fi_box_02_qr.fix_02{
    right: 0 !important;
}
#fi_box .fi_box_02_qr > a{
    display: inline-block;
}
#fi_box .fi_box_02_qr > a > img{
    display: block;
    width: 100%;
}

#fi_box .fi_box_02_qr > a,
#fi_box .fi_box_02_qr > span{
    vertical-align: middle;
}

.about_img_text{
    font-family: 'NanumSquareRound';
    width: 1280px;
    margin: 67px auto 0;
}
.about_img_text .about_img{
    float: left;
    width: 50%;
    margin-top: 38px;
}

.about_img_text .about_img img{
    display: block;
    width: 73%;
}

.about_img_text .about_text{
    float: left;
    width: 46%;
    margin-left: 51px;
}
.about_img_text .about_text_fl_a{}
.about_img_text .about_text_fl_a > p{
    float: left;
    margin-right: 60px;
}
.about_img_text .about_text_fl_a > p:last-child{
    margin-right: 0;
}
.about_img_text .about_text_fl_a > p .about_text_bold{
    font-weight: bold;
    font-size: 22px;
}
.about_img_text .about_text_fl_a > p > span{
    display: block;
    font-size: 19px;
    line-height: 31px;
    color: #000;
}

.about_img_text .about_text_skill{}
.about_img_text .about_text_skill::before{
    content: "";
    display: block;
    background-color: #79a0d7;
    width: 500px;
    height: 2px;
    margin: 20px 0;
}
.about_img_text .about_text_skill .about_text_bold{
    font-weight: bold;
    font-size: 22px;
}

.about_img_text .about_text_skill_ul{}
.about_img_text .about_text_skill_ul > li{}
.about_img_text .about_text_skill_ul > li > span{
    font-size: 20px;
    line-height: 41px;
    display: inline-block;
    margin-top: 15px;
}
.about_text_skill_ab_box{
    position: relative;
    height: 35px;
    display: inline-block;
    margin-top: 20px;
}
.about_img_text .about_text_skill_ul > li > span,
.about_text_skill_ab_box{
    vertical-align: middle;
}
.about_img_text .about_text_skill_ul > li .about_text_skill_plnk{
    position: absolute;
    left: 0%;
    top: 0;
    width: 350px;
    height: 35px;
    background-color: #F6DDE0;
    margin-left: 75px;
    border-radius: 12px;
}

.about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_plnk{
    margin-left: 103px;
}
.about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_plnk{
    margin-left: 81px;
}
.about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_plnk{
    margin-left: 43px;
}
.about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_plnk{
    margin-left: 39px;
}
.about_img_text .about_text_skill_ul > li:nth-child(6) .about_text_skill_plnk{
    margin-left: 49px;
}
.about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_plnk{
    margin-left: 53px;
}

.about_img_text .about_text_skill_ul > li .about_text_skill_blue{
    position: absolute;
    left: 0%;
    top: 0;
    width: 320px;
    height: 35px;
    background-color: #4E88CC;
    margin-left: 75px;
    text-align: right;
    color: #fff;
    border-radius: 12px;
    line-height: 34px;
    font-size: 20px;
    padding-right: 8px;
}

.about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_blue{
    margin-left: 103px;
    width: 300px;
}
.about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_blue{
    margin-left: 81px;
    width: 230px;
}
.about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_blue{
    margin-left: 43px;
    width: 230px;
}
.about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_blue{
    margin-left: 39px;
    width: 300px;
}
.about_img_text .about_text_skill_ul > li:nth-child(6) .about_text_skill_blue{
    margin-left: 49px;
}
.about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_blue{
    margin-left: 53px;
    width: 340px;
}

.about-content > img{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.portfolio_box{}

.portfolio_ul{}
.portfolio_ul li{}

.portfolio_ul li .oprtfolio_img_box{
    float: left;
}
.portfolio_ul li .oprtfolio_img_box img{
    display: block;
    width: 100%;
}

.portfolio_ul li .portfolio_text_box{
    float: left;
    width: 30%;
}
.portfolio_ul li .portfolio_text_box .portfolio_text_num{
    display: block;
}
.portfolio_ul li .portfolio_text_box .portfolio_text_bold{
    display: block;
}
.portfolio_ul li .portfolio_text_box p{}
.portfolio_ul li .portfolio_text_box a{
    display: block;
}

.portfolio_box{
    margin-left: 120px;
}
.portfolio_box .portfolio_ul{}
.portfolio_box .portfolio_ul li{
    margin-top: 100px;
}
.portfolio_box .portfolio_ul li:first-child{
    border-bottom: dotted 1px #ccc;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.portfolio_box .portfolio_ul li .oprtfolio_img_box{
    width: 600px;
    margin-right: 100px;
}
.portfolio_box .portfolio_ul li:last-child .oprtfolio_img_box{
    margin-right: 0;
    margin-left: 100px;
}
.portfolio_box .portfolio_ul li .oprtfolio_img_box img{
    display: block;
    width: 100%;
}
.portfolio_box .portfolio_ul li .portfolio_text_box{}
.portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_num{
    font-family: 'GowunBatang-Bold';
    display: block;
    text-shadow: 1px 1px #e89eab;
    color: #000;
    font-size: 25px;
    line-height: 30px;
}
.portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_bold{
    display: block;
    font-weight: bold;
    font-size: 33px;
    line-height: 65px;
}
.portfolio_box .portfolio_ul li .portfolio_text_box p{
    font-size: 18px;
    line-height: 30px;
}
.portfolio_box .portfolio_ul li .portfolio_text_box a{
    display: block;
    width: 85%;
    color: #000;
    text-align: center;
    line-height: 51px;
    border: solid 2px #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.portfolio_box .portfolio_ul li .por_we_in{
    width: calc(100% + 170px);
    margin-top: 10px;
    margin-left: -100px;
}
.portfolio_box .portfolio_ul li .por_we_in > a{
    display: block;
    width: calc(50% - 15px);
    margin-right: 15px;
    color: #000;
    text-align: center;
    line-height: 51px;
    border: solid 2px #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    float: left;
}
.portfolio_box .portfolio_ul li .por_we_in > a:last-child{
    margin-right: 0;
}
.portfolio_box .portfolio_ul li .portfolio_text_box a:hover {
    background-color: #4E88CC;
    border-color: #4E88CC;
    color: #fff;
}

.portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_bold,
.portfolio_box .portfolio_ul li .portfolio_text_box p,
.portfolio_box .portfolio_ul li .portfolio_text_box a{
    font-family: 'NanumSquareRound';
}

.website_box{
    margin-top: 100px;
}
.website_box .website_ul{}
.website_box .website_ul li{
    float: left;
    width: calc(33% - 20px);
    margin-right: 26px;
    border-right: solid 1px #ccc;
    padding-right: 5px;
}
.website_box .website_ul li:last-child{
    margin-right: 0;
    border: 0;
}
.website_box .website_ul li .website_imgbox{
    height: 110px;
    overflow: hidden;
}
.website_box .website_ul li .website_imgbox img{
    display: block;
    width: 100%;
}
.website_box .website_ul li p{
    margin-top: 41px;
    display: block;
}
.website_box .website_ul li p .website_text_num{
    font-family: 'GowunBatang-Bold';
    text-shadow: 1px 1px #e89eab;
    color: #000;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}
.website_box .website_ul li p .website_text{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.website_box .website_ul li p .website_p{
    display: block;
    font-family: 'NanumSquareRound';
    font-size: 16px;
    color: #333;
    text-align: center;
    height: 100px;
}
.website_box .website_ul li p a{
    color: #000;
    width: calc(50% - 15px);
    margin-right: 15px;
    text-align: center;
    line-height: 51px;
    border: solid 2px #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    float: left;
}
.website_box .website_ul li p a:last-child{
    margin-right: 0;
}
.website_box .website_ul li p a:hover {
    background-color: #4E88CC;
    border-color: #4E88CC;
    color: #fff;
}

.website_box .website_ul li p .website_text_num,
.website_box .website_ul li p .website_text,
.website_box .website_ul li p a{
    display: block;
}

.website_box .website_ul li p .website_text,
.website_box .website_ul li p a{
    font-family: 'NanumSquareRound';
}

.wi_100{
    background-color: #d6e6fb;
    padding: 20px 0px 57px;
}
.marketing_fl_a{}
.marketing_fl_a .marketing_box{
    margin-top: 100px;
}
.marketing_fl_a .marketing_box .marketing_imgbox{
    float: left;
    width: 41%;
    margin-right: 100px;
    margin-left: 93px;
}

.marketing_last{
    margin-top: 85px;
    margin-bottom: 50px;
}
.marketing_last .marketing_box .marketing_imgbox{
    margin-left: 100px;
    margin-right: 0;
    width: 41%;
}
.marketing_last .marketing_box .marketing_textbox{
    margin-left: 120px;
}

.marketing_fl_a .marketing_box .marketing_imgbox img{
    display: block;
    width: 100%;
}

.marketing_fl_a .marketing_box .marketing_textbox{
    float: left;
    width: 39%;
}
.marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num{
    font-family: 'GowunBatang-Bold';
    text-shadow: 1px 1px #e89eab;
    color: #000;
    font-size: 30px;
    line-height: 30px;
}
.marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
    font-weight: bold;
    font-size: 38px;
    line-height: 85px;
}
.marketing_fl_a .marketing_box .marketing_textbox p{
    font-size: 18px;
    line-height: 34px;
}
.marketing_fl_a .marketing_box .marketing_textbox p > span{
    font-weight: bold;
    display: inline-block;
    background-color: #88aad7;
    color: #fff;
    padding: 0 5px;
    box-sizing: border-box;
    line-height: 33px;
}
.marketing_fl_a .marketing_box .marketing_textbox a{
    color: #000;
    width: 50%;
    text-align: center;
    line-height: 51px;
    border: solid 2px #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.marketing_fl_a .marketing_box .marketing_textbox a:hover {
    background-color: #4E88CC;
    border-color: #4E88CC;
    color: #fff;
}

.marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num,
.marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold,
.marketing_fl_a .marketing_box .marketing_textbox a{
    display: block;
}

.marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold,
.marketing_fl_a .marketing_box .marketing_textbox p,
.marketing_fl_a .marketing_box .marketing_textbox a{
    font-family: 'NanumSquareRound';
}

img.mfp-img{
    max-height: none !important;
}

#contact .footer .col-md-4 h4,
p{
    display: inline-block;
}

#contact .footer .footer_textbox,
#contact .footer .footer_map{
    float: left;
    width: 50%;
}

#contact .footer .footer_map{
    margin-bottom: 100px;
}

#contact .footer #pop{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #0a1b6d;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    transition: 0.4s;
}
#contact .footer #pop:hover > a > i{
    color: #d0def0;
}
#contact .footer #pop > a{
    display: block;
}
#contact .footer #pop > a > i{
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 48px;
    color: #fff;
}

@media screen and (max-width : 1539px){
    .marketing_last .marketing_box .marketing_textbox > a{
        width: 65%;
    }

    .marketing_fl_a .marketing_box .marketing_textbox > p{
        font-size: 20px;
        line-height: 40px;
    }

    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
        font-size: 38px;
    }
}

@media screen and (max-width : 1479px){
    header .brand-name .main_textbox{
        width: 37%;
    }
}

@media screen and (max-width : 1279px){
    header .brand-name .main_textbox{
        width: 52%;
    }
    #fi_box{
        right: -153px;
        width: 230px;
        height: 230px;
    }
    #fi_box .fi_box_01_e > span,
    #fi_box .fi_box_01_e > a{
        font-size: 2.2rem;
        text-indent: 7px;
    }

    .about_img_text,
    .content-row{
        width: 925px;
    }
    .about_img_text .about_img img{
        margin: 0 auto;
    }
    .about_img_text .about_text{
        margin-left: -46px;
    }
    .about_img_text .about_text_fl_a > p .about_text_bold{
        font-size: 20px;
    }
    .about_img_text .about_text_fl_a > p > span{
        font-size: 16px;
    }
    .about_img_text .about_text_skill .about_text_bold{
        font-size: 20px;
    }
    .about_img_text .about_text_skill_ul > li > span{
        font-size: 16px;
    }
    .about_img_text .about_text_skill_ul > li .about_text_skill_plnk{
        width: 300px;
    }
    .about_img_text .about_text_skill_ul > li .about_text_skill_blue{
        width: 285px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_blue,
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_blue{
        width: 265px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_blue,
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_blue{
        width: 195px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_blue{
        width: 295px;
    }

    .portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_num{
        font-size: 20px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_bold{
        font-size: 28px;
        line-height: 55px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box p{
        font-size: 18px;
        line-height: 35px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box > a{
        width: 74%;
        font-size: 17px;
        line-height: 45px;
    }
    .portfolio_box .portfolio_ul li .oprtfolio_img_box{
        width: 490px;
        margin-right: 50px;
    }
    .portfolio_box .portfolio_ul li:last-child .oprtfolio_img_box{
        margin-left: 50px;
    }
    .portfolio_ul li .portfolio_text_box{
        width: 30%;
    }
    .portfolio_box .portfolio_ul li .por_we_in > a{
        width: calc(48% - 12px);
        margin-right: 12px;
    }

    .website_box .website_ul li p .website_text_num{
        font-size: 22px;
    }
    .website_box .website_ul li p .website_text{
        font-size: 18px;
    }
    .website_box .website_ul li p .website_p{
        font-size: 14px;
    }

    .marketing_fl_a .marketing_box .marketing_imgbox{
        width: 41%;
        margin-right: 75px;
        margin-left: 50px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num{
        font-size: 25px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
        font-size: 28px;
        line-height: 55px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > p{
        font-size: 17px;
        line-height: 28px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > a{
        width: 50%;
        font-size: 17px;
        line-height: 45px;
    }
    .marketing_last .marketing_box .marketing_textbox > a{
        width: 60%;
    }
    .marketing_last .marketing_box .marketing_imgbox{
        margin-left: 50px;
        width: 41%;
        margin-right: 0;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num{
        font-size: 27px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
        font-size: 35px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > p{
        font-size: 18px;
        line-height: 35px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox p > span{
        line-height: 31px;
    }

    .portfolio-filter #filters{
        margin-left: 240px;
    }

    #qna .qna_q .qna_q_text p:first-child{
        font-size: 21px;
    }
    #qna .qna_q .qna_q_text p{
        width: 80%;
        font-size: 15px;
    }

    #contact .footer #pop{
        width: 80px;
        height: 80px;
    }
    #contact .footer #pop > a > i{
        line-height: 80px;
        font-size: 45px;
    }
    .footer_map iframe{
        margin-top: 75px;
    }
    #contact .footer .footer_textbox, #contact .footer .footer_map{
        width: 40%;
    }
    #contact .footer .footer_textbox{
        margin-left: 3%;
    }
}
/* 1024px ~ 1280px */

@media screen and (max-width : 1023px){
    #fi_box{
        right: -145px;
        width: 220px;
        height: 220px;
    }
    #fi_box .fi_box_01_e > span, #fi_box .fi_box_01_e > a{
        font-size: 2rem;
        text-indent: 5px;
    }
    #fi_box .fi_box_02_qr > span{
        font-size: 2rem;
    }

    .col-sm-6{
        width: 24%;
    }
    .about-content{
        padding: 20px;
    }
    .about-content > img{
        width: 100%;
    }
    .about-content h3{
        font-size: 20px;
    }
    .about-content p{
        font-size: 15px;
    }

    .portfolio_box .portfolio_ul li .oprtfolio_img_box{
        width: 400px;
        margin-right: 20px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_num{
        font-size: 18px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box .portfolio_text_bold{
        font-size: 23px;
        line-height: 50px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box p{
        font-size: 16px;
        line-height: 31px;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box > a{
        width: 70%;
        font-size: 15px;
        line-height: 42px;
    }
    .portfolio_box{
        margin-left: 83px;
    }
    .portfolio_box .portfolio_ul li:last-child .oprtfolio_img_box{
        margin-left: 20px;
    }

    .website_box .website_ul li{
        width: calc(33% - 15px);
    }
    .website_box .website_ul li p .website_text_num{
        font-size: 20px;
    }
    .website_box .website_ul li p .website_text{
        line-height: 45px;
    }
    .website_box .website_ul li p .website_p{
        height: 122px;
    }
    .website_box .website_ul li p > a{
        width: 70%;
        font-size: 15px;
        line-height: 42px;
    }

    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num{
        font-size: 22px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
        font-size: 23px;
        line-height: 50px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > p{
        font-size: 16px;
        line-height: 27px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox p > span{
        line-height: 28px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > a{
        font-size: 15px;
        line-height: 42px;
    }
    .marketing_fl_a .marketing_box .marketing_imgbox{
        margin-right: 35px;
        width: 43%;
    }
    .marketing_fl_a .marketing_box .marketing_textbox{
        width: 52%;
    }
    .marketing_last .marketing_box .marketing_textbox{
        margin-left: 0px;
    }
    .marketing_last .marketing_box .marketing_imgbox{
        margin-right: 0;
        margin-left: 35px;
    }

    .portfolio-filter #filters{
        margin-left: 25px;
    }

    footer.footer p{
        font-size: 16px;
    }
    #contact .footer #pop{
        width: 70px;
        height: 70px;
    }
    #contact .footer #pop > a > i{
        line-height: 70px;
        font-size: 42px;
    }
}
/* 990px ~ 1023px */

@media screen and (max-width : 989px){
    header .brand-name .main_textbox{
        width: 73%;
        font-size: 44px;
    }
    header .brand-name .main_text_name{
        font-size: 25px;
    }
    #fi_box .fi_box_01_e > span, #fi_box .fi_box_01_e > a{
        font-size: 1.8rem;
    }
    #fi_box .fi_box_02_qr > span{
        font-size: 1.8rem;
    }
    #fi_box .fi_box_02_qr{
        right: -145px;
    }

    .navbar-default .navbar-brand img, .navbar-inverse .navbar-brand img{
        height: 45px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
        margin-left: 16px;
    }
    .navbar-default .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav > .active > a{
        font-size: 16px;
    }

    header{
        height: 511px;
    }
    header .brand-name .main_textbox{
        width: 54%;
        font-size: 28px;
        line-height: 37px;
        height: 177px;
        padding-top: 32px;
    }
    header .brand-name .main_text_name{
        font-size: 20px;
        margin-top: 10px;
    }
    header .scroll-down .btn{
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 27px;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus{
        font-size: 16px;
    }

    .about_img_text,
    .content-row{
        width: 727px;
    }
    .about_img_text .about_img img{
        margin: 0;
    }
    .about_img_text .about_text_fl_a > p .about_text_bold{
        font-size: 18px;
    }
    .about_img_text .about_text_fl_a > p > span{
        font-size: 14px;
    }
    .about_img_text .about_text_skill .about_text_bold{
        font-size: 18px;
    }
    .about_img_text .about_text_skill_ul > li > span{
        font-size: 14px;
    }
    .about_img_text .about_text_skill_ul > li .about_text_skill_plnk{
        width: 265px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_plnk{
        margin-left: 94px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_plnk{
        margin-left: 77px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_plnk{
        margin-left: 51px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_plnk{
        margin-left: 45px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(6) .about_text_skill_plnk{
        margin-left: 51px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_plnk{
        margin-left: 54px;
    }
    .about_img_text .about_text_skill_ul > li .about_text_skill_blue{
        width: 250px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_blue{
        margin-left: 95px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_blue,
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_blue{
        width: 230px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_blue{
        margin-left: 78px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_blue{
        margin-left: 52px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_blue,
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_blue{
        width: 160px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_blue{
        margin-left: 46px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(6) .about_text_skill_blue{
        margin-left: 52px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_blue{
        width: 260px;
        margin-left: 55px;
    }
    .about_img_text .about_text_skill::before{
        width: 385px;
    }

    .portfolio_box{
        margin-left: 71px;
    }
    .portfolio_box .portfolio_ul li .por_we_in > a{
        width: calc(44% - 10px);
        margin-right: -18px;
        margin-left: 25px;
    }

    .website_box .website_ul li{
        margin-right: 15px;
    }
    .website_box .website_ul li p .website_p{
        height: 136px;
    }
    .website_box .website_ul li p a:last-child{
        margin-top: 10px;
    }
    .website_box .website_ul li p > a{
        margin-left: 25px;
    }

    .marketing_fl_a .marketing_box .marketing_imgbox{
        margin-right: 25px;
        margin-left: 25px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox{
        width: 46%;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > p{
        font-size: 16px;
        line-height: 25px;
    }
    .marketing_last .marketing_box .marketing_textbox{
        margin-left: 18px;
    }

    .portfolio-filter #filters{
        margin-left: 205px;
    }
    
    .content-row{
        margin-left: 0;
    }

    .footer_map iframe{
        width: 400px;
        height: 300px;
    }
}
/* 768px ~ 989px */

@media screen and (max-width : 767px){
    header .brand-name .main_textbox{
        width: 40%;
        font-size: 40px;
        height: 235px;
        padding-top: 47px;
    }
    header .brand-name .main_text_name{
        font-size: 22px;
        margin-top: 17px;
    }

    .about_img_text .about_img{
        margin: 38px auto 30px;
        width: 50%;
    }
    .about_img_text .about_img img{
        width: 60%;
    }
    .about_img_text .about_text{
        margin-left: -129px;
        width: 40%;
    }
    .about_img_text .about_text_skill::before{
        width: 305px;
    }
    .about_img_text .about_text_fl_a > p{
        margin-right: 27px;
    }
    .about_img_text .about_text_skill_ul > li .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li .about_text_skill_blue{
        margin-left: 10px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_blue{
        margin-left: 30px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_blue{
        margin-left: 15px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_blue{
        margin-left: -3px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_blue{
        margin-left: -5px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(6) .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li:nth-child(6) .about_text_skill_blue{
        margin-left: -3px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_plnk,
    .about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_blue{
        margin-left: 1px;
    }
    .content-row{
        width: 620px;
    }
    .content-row::after{
        content: "";
        display: block;
        clear: both;
    }
    .col-sm-6{
        float: left;
    }

    .portfolio_box{
        margin-left: 0;
    }
    .portfolio_box .portfolio_ul li .oprtfolio_img_box{
        width: 100%;
        margin-right: 0;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box{
        text-align: center;
        margin: 30px 0 0 35%;
    }
    .portfolio_box .portfolio_ul li .portfolio_text_box > a{
        margin: 0 auto;
    }
    .portfolio_box .portfolio_ul li:first-child{
        padding-bottom: 50px;
    }
    .portfolio_box .portfolio_ul li{
        margin-top: 50px;
    }
    .portfolio_box .portfolio_ul li:last-child .oprtfolio_img_box{
        margin-top: 50px;
        margin-left: 0;
    }
    .portfolio_box .portfolio_ul li .por_we_in{
        margin-left: -77px;
    }
    .portfolio_box .portfolio_ul li .por_we_in > a{
        width: calc(44% - 10px);
        margin-right: -2px;
        margin-left: 12px;
        font-size: 16px;
    }

    .website_box .website_ul li p a{
        width: 74%;
        float: none;
        margin-top: 10px;
        margin-left: 25px;
    }

    .marketing_fl_a .marketing_box .marketing_imgbox img{
        width: 90%;
    }
    .marketing_fl_a .marketing_box .marketing_imgbox{
        margin: 0 !important;
        width: 48%;
    }
    .marketing_fl_a .marketing_box .marketing_textbox{
        width: 52%;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num{
        font-size: 20px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
        font-size: 21px;
        line-height: 35px;
    }
    .marketing_last .marketing_box .marketing_textbox{
        margin-left: 0;
    }

    #contact .footer #pop{
        width: 60px;
        height: 60px;
    }
    #contact .footer #pop > a > i{
        line-height: 60px;
        font-size: 38px;
    }
    #contact .footer .footer_textbox{
        margin-left: 0;
    }
    footer.footer p{
        font-size: 14px;
    }
    #contact .footer .col-md-4 h4{
        font-size: 22px !important;
    }
    .footer_map iframe{
        width: 350px;
        height: 265px;
    }
    footer.footer .contact-details{
        margin: 20px 0 0 !important;
    }
    #contact .footer .footer_textbox .contact-details:first-child{
        margin-top: 75px !important;
    }
}
/* 620px ~ 767px */

@media screen and (max-width : 619px){
    .navbar-inverse .navbar-brand img{
        height: 43px;
    }
    header .brand-name .main_text_name{
        font-size: 20px;
        margin-top: 10px;
    }
    header{
        height: 386px;
    }
    header .brand-name .main_textbox{
        width: 28%;
        font-size: 25px;
        height: 138px;
        padding-top: 20px;
        line-height: 33px;
    }
    header .brand-name .main_text_name{
        font-size: 14px;
    }
    .content-row{
        width: 580px;
    }
    header .scroll-down .btn{
        height: 30px;
        width: 30px;
        line-height: 29px;
        font-size: 23px;
    }
    .fa-fw{
        margin-left: -2px;
    }

    .about_img_text .about_text_skill_ul > li .about_text_skill_plnk{
        width: 235px;
    }
    .about_img_text .about_text_skill_ul > li .about_text_skill_blue{
        width: 220px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(2) .about_text_skill_blue,
    .about_img_text .about_text_skill_ul > li:nth-child(5) .about_text_skill_blue{
        width: 200px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(3) .about_text_skill_blue,
    .about_img_text .about_text_skill_ul > li:nth-child(4) .about_text_skill_blue{
        width: 130px;
    }
    .about_img_text .about_text_skill_ul > li:nth-child(7) .about_text_skill_blue{
        width: 230px;
        margin-left: 1px;
    }
    .col-sm-6{
        padding: 0;
    }
    .about_img_text .about_text{
        margin-left: -78px;
    }
    .about_img_text .about_img{
        margin: 38px 10px 0 30px;
    }
    .about_img_text,
    .content-row{
        width: 580px;
    }

    .marketing_fl_a .marketing_box.marketing_imgbox{
        margin: 0 !important;
    }
    .marketing_fl_a .marketing_box .marketing_imgbox img{
        width: 75%;
    }
    .marketing_fl_a .marketing_box .marketing_textbox{
        margin-top: -88px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_num{
        font-size: 20px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox .marketing_text_bold{
        font-size: 21px;
        line-height: 45px;
    }
    .marketing_fl_a .marketing_box .marketing_textbox > p{
        font-size: 14px;
        line-height: 31px;
    }
    .marketing_last .marketing_box .marketing_textbox > p{
        font-size: 13px;
    }
    .marketing_fl_a .marketing_box{
        margin-top: 100px;
    }
    .marketing_last .marketing_box .marketing_imgbox{
        width: 48%;
    }
    .marketing_last .marketing_box .marketing_imgbox img{
        width: 100%;
    }

    .content-row{
        margin-left: -15px;
    }

    footer.footer p{
        margin-left: 0px;
    }
    #contact .footer .col-md-4 h4{
        font-size: 20px !important;
    }
    .footer_map iframe{
        width: 335px;
        height: 255px;
    }
}
/* 580px ~ 619px */

@media screen and (max-width : 579px){}
/* 480px ~ 579px */

@media screen and (max-width : 479px){}
/* 420px ~ 479px */

@media screen and (max-width : 419px){}
/* 360px ~ 419px */

@media screen and (max-width : 359px){}
/* 321px ~ 359px */

@media screen and (max-width : 320px){}
/* 존재x */